* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    outline: none;
}

body {
    background-color: #66CC99;
    min-height: 100vh;
    padding: 20px;
}

.logo {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 20px auto;
    width: min(100%, 543px);
    height: auto;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-weight: 400;
    color: #FFFFFF;
    margin: 20px auto;
    width: 100%;
}

p {
    margin: 15px auto;
    font-size: clamp(1.5rem, 5vw, 2rem);
}

.input-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
    max-width: 500px;
}

input {
    width: 100%;
    max-width: 242px;
    height: 40px;
    border-radius: 10px;
    background-color: #696969;
    color: #FFFFFF;
    font-weight: 500;
    font-size: clamp(1rem, 4vw, 1.25rem);
    border: 1px solid #BBBBBB;
    padding: 0 12px;
    margin: 0 auto;
}

.first-input {
    margin-right: 0;
}

input:focus::placeholder {
    color: transparent;
}

::placeholder {
    font-weight: 500;
    font-size: clamp(1rem, 4vw, 1.25rem);
    color: #FFFFFF;
    opacity: 70%;
}

button {
    display: flex;
    align-items: center;
    box-shadow: 0px 5px 8px #AE136A;
    justify-content: center;
    text-align: center;
    font-weight: 700;
    color: #FFFFFF;
    margin: 20px auto;
    width: 100%;
    max-width: 242px;
    height: 40px;
    border-radius: 10px;
    border: none;
    background-color: #AE134B;
    cursor: pointer;
    font-size: clamp(1rem, 4vw, 1.25rem);
}

button:hover{
    opacity: 0.9;
    transition: all 0.1s;
    transform: translateY(-3px);
}

button:active {
    opacity: 0.7;
    scale: 0.95;
    transition: all 0.1s;
}

/* Media Queries para ajustes específicos */
@media (min-width: 600px) {
    .input-container {
        flex-direction: row;
        justify-content: center;
    }
    
    .first-input {
        margin-right: 22px;
    }
    
    p {
        margin: 20px auto;
    }
}

.toast {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #333;
    color: white;
    padding: 15px 30px;
    border-radius: 6px;
    z-index: 1000;
    opacity: 0;
    transition: opacity 0.3s;
    font-size: 16px;
  }
  
  .toast.show {
    opacity: 1;
  }
  
  .toast.error {
    background-color: #BB002A;
  }
  
  .toast.success {
    background-color: #01C929;
  }